{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    {{- partial "_shared/title.html" . -}}
    <div class="main-content">
        coucou
        <!-- Posts Index
        ================================================== -->
        <section class="recent-posts pt-48">
            <div class="row listrecent">
                
                    {{ range .Pages}}
                        {{- partial "list-partials/postbox.html" . -}}
                    {{ end }}
                
            </div>
        </section>
    </div>
    {{- partial "_shared/alertbar.html" . -}}
{{ end }}

{{ define "footer"}}
    <!-- {{- partial "_shared/jumbotron.html" . -}} -->
    {{- partial "_shared/footer.html" . -}}
{{ end }}
