{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    <div class="main-content pt-48">
        <!-- Posts Index
        ================================================== -->        
        <section class="recent-posts">            
            <div class="section-title">                
                <h2><span>Tous les billets de la catégorie {{ .Title }}</span></h2>
            </div>
            {{ if (eq .Title "réutilisations")}}
            <div class="article-description pb-48">
                Nous réalisons une série d’entretiens avec différents réutilisateurs des données mises à disposition 
                sur le Point d’Accès National, afin de valoriser l’usage qui est fait de la donnée de transport et 
                illustrer des différents cas d’usage qu’elle peut avoir.
            </div>
        {{ end }}
            <div class="row listrecent">
                <!-- {{ $post_paginator := .Paginate (.Pages) 6 }} -->
                {{ range .Pages }}
                    {{- partial "list-partials/postbox.html" . -}}
                {{end}}
            </div>
        </section>
        <!-- {{- partial "list-partials/pagination.html" $post_paginator -}} -->
    </div>
    <!-- {{- partial "_shared/alertbar.html" . -}} -->
{{ end }}

{{ define "footer"}}
    {{- partial "_shared/jumbotron.html" . -}}
    {{- partial "_shared/footer.html" . -}}
{{ end }}
